.main-content h2{
    margin-left: 18px;
    font-size: xx-large;
}
.img li{
    display: inline;
    font-size: smaller;

}
.img ul{
    margin-left: -46px;
    padding-top: 10px;
    padding-bottom: 10px;

}